/* header style */
.main__header__container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 3rem;
    position: relative;
    place-items: center;
}
.main__header--section{
    display: grid;
    place-items: center;
    padding: 4rem 0;
}
.main__header--left{
    margin-top: 8rem;
}
.get__app_img{
    width: 1.5rem;
    height: 1.5rem;
}
.main__header--left h2{
    font-size: 4.4rem;
    line-height: 1.2;
    color: #0c1825;
    font-weight: 650;
    margin-bottom: .5rem;
    font-family: 'Josefin Sans', sans-serif;
}
.main__header--left p{
    font-size: 1.2rem;
    color: #353535;
    font-family: "DM Sans", sans-serif !important;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
}
.get__app__links--group{
    display: flex;
    gap: 2rem;
    margin-top: 2.5rem;
}
.get__app__link {
    position: relative;
    overflow: hidden;
    border-radius: .6rem;

}
.get__app__link a{
    border: .05rem solid rgba(0, 0, 0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-family: "DM Sans", sans-serif !important;
    font-weight: 400;
    color: black;
    transition: all .3s ease-in-out;
    padding: .5rem .9rem;
    font-size: .9rem;
}
.get__app__link:hover{
    top: -.3rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0,0.5);
}
.main__header--right--background{
    background: rgba(172, 179, 179,0.1);
    position: absolute;
    z-index: -1;
    width: 26rem;
    top: -4rem;
    right: -3.5rem;
    bottom: 0;
    height: 105%;
}

.main__header--right{
    position: relative;
}

.main__header--right .img__conatiner img{
    position: absolute;
}
.border{
    margin-top: 3rem;
    transform: scale(0.85);
}
.girl{
    transform: scale(.87);
    top: 5.5rem;
    left: -4rem;
}
.card1{
    transform: scale(.4);
    top: 10rem;
    right: 15rem;
}
.card2{
    transform: scale(.4);
    bottom: 5rem;
    right: -8rem;
}
.donut{
    transform: scale(.15);
    top: 2rem;
    right: -7rem;
}
.dot{
    transform: scale(.15);
    top: -2rem;
    left: -15rem;
}
.shape{
    transform: scale(.15);
    top: -3rem;
    left: -15rem;
}
/*=================== security__section ===================== */
.security__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 65%;
}
.security__img{
    height: 15rem;
    width: 15rem;
}
.security__text{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: .5rem;
}
.security__text h2{
    font-size: 2.2rem;
    font-family: DM Sans,sans-serif ;
    color: black;
    margin-top: -5rem;
}
.security__text p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text_muted)
}
.security__text a{
    color: blue;
    font-size: 1rem;
    font-size: 600;
    font-family: DM Sans,sans-serif ;
    display: flex;
    align-items: center;
}
.security__text a svg{
    font-size: 1.4rem;
}

/* ========================== build saving section styles================= */
.build__saving__section--container{
    display: grid;
    grid-template-columns: 25rem 1fr;
    gap: 2rem;
}
.build__saving--left{
    padding: 1rem 2rem 1rem 1rem ;
    margin-top: 2rem;
}
.build__saving--left  h2{
    font-size: 2.5rem;
    font-family: DM Sans,sans-serif ;
    line-height: 1.2;
}
.build__saving--left p{
    color: var(--text_muted);
    padding-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.3;
}
.start__saving__btn{
    padding-top: 2rem;
}


.build__saving--right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:  2rem 3.5rem;
}
.card{
    background: #f9f9f9;
    padding: 1.5rem ;
    border-radius: 1rem;
}
.card__icon__top{
    height: 3.5rem;
    width: 3.5rem;
    margin-bottom: 2rem;
}
.card .card__details h3{
    font-size: 1.4rem;
    padding-bottom: 1rem;
    font-weight: 500;
    color: black;
    font-family: DM Sans,sans-serif ;
}
.card .card__details p{
    font-size: 1.2rem;
    color: var(--text_muted);
    line-height: 1.4;
}
 .card__link{
    display: flex;
    align-items: center;
    color: black;
    padding-top: 5rem;
    gap: .5rem;
    right:  0;
    position: relative;
    font-size: 1.2rem;
    transition: all .4s ease;
}
 .card__link span{
    font-weight: 500;
}
 .card__link svg{
    font-size: 2.5rem;
    background: rgb(224, 239, 255);
    padding: .4rem;
    border-radius: 50%;
    border: none;
    color: rgb(0, 51, 153);
}
.card a:hover .card__link{
    right: -1rem;
}
.card:nth-of-type(2) .card__link svg {
    background: rgb(227, 245, 255);
    color: rgb(50, 150, 255);
}
.card:nth-of-type(3) .card__link svg {
    background: rgb(228, 255, 240);
    color:rgb(6, 155, 64);
}
.card:nth-of-type(4) .card__link svg {
    background: rgb(253, 231, 245);
    color:rgb(229, 40, 142);
}


/* ==================== styles for the investify section ================= */
.investify__section--container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
.investify__left{
    display: grid;
    position: relative;
}
.investify__left .investify__image{
    height: 40rem;
    width: 30rem;
    margin: 0;
}
.investify__left .investify__dot{
    width: 10rem;
    height: 10rem;
    position: absolute;
    right: -2rem;
    top: 1rem;
}
.investify__right{
    text-align: left;
}
.investify__content{
    margin-top: 6rem;
    width: 70%;
}
.investify__tag{
    background: #f7f0ff;
    padding: .6rem 1.6rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: #7913e5;
    border-radius: 1.4rem;
    display: inline-block;
    margin-bottom: 2rem;
}
.investify__content h3{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.investify__content p{
    font-size: 1.2rem;
    color: var(--text_muted);
    line-height: 1.6;
    margin-bottom: 2rem;
}
.investify__content a{
    color: #7913e5;
    font-size: 1.2rem;
    font-weight: 600;
}
/* =================================== month__saver__section ========================= */
.month__saver__section{
    background: #0d60d8;
    padding: 0;
    position: relative;
    box-sizing: border-box;

}
.month__saver-contanier{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.month__saver__left{
    padding-top: 5rem;
}
.month__saver__left--content{
    width: 85%;
    color: #f7f0ff !important;
    margin-inline: auto;
}
.month__saver__left--content h3{
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1rem;
}
.month__saver__left--content p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;
}
.month__saver__left .card__link{
    color: #f7f0ff !important;
    padding: 2rem 0 3rem 0;
    gap: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.month__saver__left .card__link svg {
    background: rgb(227, 245, 255);
    color: rgb(50, 150, 255);
}
.month__saver__right .oyetola__img__container {
    position: absolute;
    height: 100%;
}
.oyetola__img__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* customers styles start */

.customers__section{
    display: grid;
    padding: 8rem 0;
}
.customers__container{
    display: grid;
    grid-template-columns: 30rem 1fr;
    align-items: center;
    gap: 4rem;
}
.right__customer__container{
    width: 70%;
}
.right__customer__container h3{
    font-size: 2.2rem;
    font-weight: bold;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 1rem;
}
.right__customer__container p{
    color: var(--text_muted);
    font-size: 1.3rem;
    font-weight: 400;

}
.right__customer__content .create_acct{
    margin-top: 1.5rem;
}
.customer__content--bottom .get__app__link:hover{
    top: 0;
    box-shadow:none;
}
.customer__tweet{
    background: #f9f9f9;
    padding: 1rem;
    margin: 1rem 0;
}
.customer__tweet .tweet__date__time--container{
    text-align: right;
    font-size: 1.2rem;
    color: var(--text_muted);
    font-weight: 400;
    padding-bottom: 1rem;
}
.tweet__content{
    display: flex;
    gap: 1rem;
}
.tweet__content--details .tweeter__name{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: .3rem;
}
.tweet__content--details .tweet__message{
    color: var(--text_muted);
    font-size: .9rem;
    line-height: 1.6;
}
.tweet__img img{
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
.left__customer__container{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.left__customer__container::before{
    content: '';
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
    height: 3rem;
    width: 100%;
    background: linear-gradient(180deg,#fff 0,hsla(0,0%,100%,0));

}
.left__customer__container::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    width: 100%;
    z-index: 2;
    background:linear-gradient(180deg,#fff 0,hsla(0,0%,100%,0));

}
.customer__tweets__container{
    animation: slidetweet 30s linear 0s infinite normal none ;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}
@keyframes slidetweet {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-100%);
    }
}



/* asfeatured__section */
.asfeatured__section{
    background: var(--color_light);
    padding:4rem 0 4rem 0;
}
.asfeatured__container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3rem;
    align-items: center;
}
.asfeatured__container .right> img{
    width: 11rem;
}
.asfeatured__container .left h2{
    font-size: 2rem;
    color: #0c1825;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.asfeatured__container .right{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* footer__section */
.footer__section--top{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: .5rem;
}
.footer__logo--conatiner{
    margin-right: 2rem;
}
.ndpr__logo--conatiner{
    border: .2rem solid var(--color_light);
    border-radius: .5rem;
    overflow: hidden;
    width: 13rem;
    transform: scale(.8);
}
.link--header{
    color: #0c1825;
    font-size: 1.1rem;
}
.footer__links--container{
    margin-top: 1rem;
}
.footer__link a{
    color: var(--text_muted);
    font-size: 1rem;
    line-height: 2;
    font-weight: 500;
}
.contact__icon--group svg{
    font-size:2rem;
    position: relative;
    transition: all 1s ease;
    margin-right: .5rem;
}
.contact__icon--group svg:hover{
    transform: translateY(-.5rem);
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0,0.5);
}
.contact___text{
    font-weight: 500;
    text-align: right;
}
a.contact__link{
    color: var(--text_muted);
    font-size: 1rem;
    display: inline-block;
    padding-top: 1em;
}
.footer__bottom{
    padding: 5rem  12rem;
    text-align: center;
    color: var(--text_muted);
}
.footer__bottom p{
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 600;
}
.footer__bottom small{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    color: #0d60d8;
}


/* media query 1024px */
@media screen and (max-width:1024px)  {
    .main__header__container{
        gap: 2rem;
    }
    .main__header--left{
        margin-top: 8rem;
    }
    .main__header--left h2{
        font-size: 3rem;
        line-height: 1;
        font-weight: 600;
    }
    .main__header--left p{
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 1.2rem;
    }
    .get__app__links--group{
        gap: 1.5rem;
    }
    .main__header--right--background{
        width: 20rem;
        right: 2rem;
        height: 100%;
    }
    /*=================== security__section ===================== */
.security__container{
    gap: 2.5rem;
    width: 70%;
}
.security__img{
    height: 11rem;
    width: 13rem;
}
.security__text h2{
    font-size: 2rem;
    margin-top: -4rem;
}

/* ========================== build saving section styles================= */
.build__saving__section--container{
    gap: 1rem;
}

.build__saving--left{
    padding: 0rem 1rem 0rem 0rem ;
    margin-top: 2rem;
}
.build__saving--left  h2{
    font-size: 2.2rem;
    line-height: 1.1;
}
.build__saving--left p{
    padding-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.3;
}
.start__saving__btn{
    padding-top: 1.5rem;
}
.build__saving--right{
    gap:  1.5rem 2rem;
}

.card{
    padding: 1rem ;
}
.card__icon__top{
    height: 3rem;
    width: 3rem;
    margin-bottom: 1.5rem;
}
.card .card__details h3{
    font-size: 1.3rem;
    padding-bottom: .8rem;
}
.card .card__details p{
    font-size: 1.1rem;
    color: var(--text_muted);
    line-height: 1.2;
}
.card__link{
    padding-top: 4rem;
    gap: .5rem;
    font-size: 1.1rem;
}
 .card__link svg{
    font-size: 2.3rem;
    padding: .3rem}


    /* ==================== styles for the investify section ================= */
    .investify__left .investify__image{
        height: 35rem;
        width: 25rem;
    }
    .investify__left .investify__dot{
        width: 8rem;
        height: 8rem;
    }
    .investify__content{
        margin-top: 4rem;
        width: 80%;
    }
    .investify__tag{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .investify__content h3{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .investify__content p{
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 1.5rem;
    }    

    /* =================================== month__saver__section ========================= */

.month__saver__left{
    padding-top: 3rem;
}
.month__saver__left--content{
    width: 90%;
}
.month__saver__left--content h3{
    font-size: 2.5rem;
    margin-bottom: .5rem;
}
.month__saver__left--content p{
    font-size: 1.1rem;
    line-height: 1.6;
}
.month__saver__left .card__link{
    padding: 1.5rem 0 2rem 0;
    font-size: 1.1rem;
}

/* customers styles start */

.customers__container{
    gap: 3rem;
}
.right__customer__container{
    width: 90%;
}
.right__customer__container h3{
    font-size: 2.1rem;
    padding-bottom: .8rem;
}
.right__customer__container p{
    font-size: 1.2rem;
}
.customer__tweet{
    padding: .5rem;
}
.customer__tweet .tweet__date__time--container{
    font-size: 1rem;
    padding-bottom: .5rem;
}
.tweet__content{
    gap: .8rem;
}

/* asfeatured__section */

.asfeatured__container{
    gap: 2rem;
}
.asfeatured__container .right> img{
    width: 10rem;
}
.asfeatured__container .right{
    gap: 3rem;
}
/* footer__section */

.ndpr__logo--conatiner{
    width: 12rem;
    transform: scale(.8);
}


}
/* media query 935px */
@media screen and (max-width:935px)  {
    .main__header__container{
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .main__header--left{
        text-align: center;
        width: 70%;
        margin-top: 6rem;
    }
    .main__header--left h2{
        font-size: 3rem;
        line-height: 1;
        font-weight: 600;
    }
    .main__header--left p{
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 1rem;
    }
    .get__app__links--group{
        gap: 1rem;
        justify-content: center;
    }
    .main__header--right--background{
        display: none;
    }
    /*=================== security__section ===================== */
.security__container{
    gap: 2rem;
    width: 80%;
}
.security__img{
    height: 10rem;
    width: 12rem;
}
.security__text h2{
    font-size: 1.7rem;
    margin-top: -2rem;
}
.security__text p{
    font-size: 1.1rem;
}


/* ========================== build saving section styles================= */
.build__saving__section--container{
    gap: 2rem;
    grid-template-columns: 1fr;
}

.build__saving--left{
    padding: 0rem ;
    margin-top: 1rem;
    text-align: center;
}
.build__saving--left  h2{
    font-size: 2.1rem;
    line-height: .9;
}
.build__saving--left p{
    padding-top: .5rem;
    font-size: 1.2rem;
    line-height: 1.1;
}
.start__saving__btn{
    padding-top: 1.2rem;
}
.build__saving--right{
    gap:  2rem 3rem;
}

.card{
    padding: 1.5rem ;
}
.card .card__details h3{
    font-size: 1.2rem;
}
    /* ==================== styles for the investify section ================= */
    .investify__left .investify__image{
        height: 30rem;
        width: 15rem;
    }
    .investify__left .investify__dot{
        width: 7rem;
        height: 7rem;
        right: -1rem;
    }
    .investify__content{
        margin-top: 2rem;
        width: 80%;
    }
    .investify__tag{
        font-size: .9rem;
        margin-bottom: .7rem;
    }
    .investify__content h3{
        font-size: 2.2rem;
        margin-bottom: 1.2rem;
    }
    .investify__content p{
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 1.2rem;
    }    
    .investify__content a{
        font-size: 1.1rem;
    }
    
    /* =================================== month__saver__section ========================= */
    .month__saver-contanier{
        grid-template-columns: 1fr ;
    }
    
.month__saver__left{
    padding-top: 2rem;
    text-align: center;
}
.month__saver__left--content{
    width: 90%;
}
.month__saver__left--content h3{
    font-size: 2.2rem;
    margin-bottom: .5rem;
}
.month__saver__left--content p{
    font-size: 1rem;
    line-height: 1.6;
}
.month__saver__left .card__link{
    justify-content: center;
    font-size: 1rem;
}
.month__saver__right{
    display: none;
}

/* customers styles start */

.customers__section{
    height: 100vh;
    padding: 3rem 0;
}
.left__customer__container{
    width: 80%;
    margin-inline: auto;
}
.left__customer__container::before{
    height: 1rem;

}
.left__customer__container::after{
    height: 1rem;

}

.customers__container{
    gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.right__customer__container{
    width: 90%;
    margin-inline: auto;
    text-align: center;
}
.right__customer__container h3{
    font-size: 2rem;
    padding-bottom: .5rem;
}
.right__customer__container p{
    font-size: 1.1rem;
}
.customer__tweet .tweet__date__time--container{
    font-size: .7rem;
}
.tweet__content{
    gap: .7rem;
}

/* asfeatured__section */

.asfeatured__container{
    gap: 2rem;
    grid-template-columns: 1fr;
    text-align: center;
}
.asfeatured__container .right> img{
    width: 10rem;
}
.asfeatured__container .right{
    gap: 2rem;
}
/* footer__section */
.footer__section--top{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 1rem;
}
.footer__logo--conatiner{
    margin-right: 0rem;
}

.ndpr__logo--conatiner{
    width: 10rem;
    transform: scale(.8);
}
.link--header{
    font-size: 1rem;
}
.footer__links--container{
    margin-top: .4rem;
}
.footer__contact--links{
    text-align: center;
    margin-top: 1rem;
}
.contact___text{
    font-weight: 500;
    text-align: center;
}
.footer__bottom{
    padding: 5rem ;
}
.footer__bottom p{
    line-height: 1.4;
    font-size: 1rem;
}
.footer__bottom small{
    padding-top: .7rem;
    font-size: .8rem;
}
}



/* media query max-width:675px  */
@media screen and (max-width:675px)  {
    .main__header--left{
        width: 100%;
    }
    .main__header--section{
        padding: 2rem 0;
    }
    .main__header--left h2{
        font-size: 2.5rem;
    }
    .main__header--left p{
        font-size: 1rem;
        line-height: 1.4;
        margin-bottom: .7rem;
    }
    .get__app_img{
        width: 1.2rem;
        height: 1.2rem;
    }
    .get__app__links--group{
        margin-top: 2rem;
    }
    .border{
        margin-top: 3rem;
        transform: scale(0.7);
    }
    .girl{
        transform: scale(.75);
        left: -2rem;
    }
    .card1{
        transform: scale(.3);
        right: 10rem;
    }
    .card2{
        transform: scale(.3);
    }
    .donut{
        transform: scale(.1);
        right: -7.5rem;
    }
    .dot{
        transform: scale(.1);
        left: -12rem;
    }
    .shape{
        transform: scale(.1);
        top: -1rem;
        left: -12rem;
    }
    
    
    /*=================== security__section ===================== */
.security__container{
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
}
.security__img{
    height: 7rem;
    width: 7rem
}
.security__text{
    align-items: center;
    text-align: center;
}
.security__text h2{
    font-size: 1.2rem;
    margin-top: 0rem;
}
.security__text p{
    font-size: 1rem;
}


/* ========================== build saving section styles================= */
.build__saving__section--container{
    gap: 2.5rem;
}

.build__saving--left{
    padding: 0rem ;
    margin-top: 0;
}
.build__saving--left  h2{
    font-size: 1.8rem;
}
.build__saving--left p{
    font-size: 1.1rem;
}
.start__saving__btn{
    padding-top: 1rem;
}
.build__saving--right{
    gap:  1rem ;
    grid-template-columns: 1fr;
    padding: 0 2rem;
}

.card{
    padding: 1.2rem ;
}
.card .card__details h3{
    font-size: 1.1rem;
}
.card .card__details p{
    font-size: 1.1rem;
}
.card__link{
    padding-top: 2rem;
    font-size: 1rem;
}
.card__link svg{
    font-size: 2.2rem;
}

    /* ==================== styles for the investify section ================= */
    .investify__section--container{
        grid-template-columns: 1fr;
        gap: 1rem;
        place-items: center;
    }
    
    .investify__left .investify__image{
        height: 20rem;
        width: 15rem;
    }
    .investify__left .investify__dot{
        width: 6rem;
        height: 6rem;
        right: -2rem;
    }
    .investify__content{
        text-align: center;
        margin-top: 1rem;
        width: 100%;
    }
    .investify__tag{
        margin-bottom: .2rem;
    }
    .investify__content h3{
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }
    .investify__content p{
        font-size: 1rem;
        line-height: 1.3;
        margin-bottom: .5rem;
    }    
    .investify__content a{
        font-size: 1rem;
    }
    
    /* =================================== month__saver__section ========================= */    
.month__saver__left{
    padding-top: 2rem;
}
.month__saver__left--content{
    width: 100%;
}
.month__saver__left--content h3{
    font-size: 1.5rem;
    margin-bottom: .3rem;
}
.month__saver__left--content p{
    font-size: .8rem;
    line-height: 1.4;
}
.month__saver__left .card__link{
    padding: 1rem 0 1.5rem 0;
    font-size: 1rem;
}
.month__saver__right{
    display: none;
}
.month__saver__left .card__link svg {
    font-size: 1.8rem;

}

/* customers styles start */

.left__customer__container{
    width: 95%;
}
.right__customer__container{
    width: 100%;
}
.right__customer__container h3{
    font-size: 1.5rem;
    padding-bottom: .2rem;
}
.right__customer__container p{
    font-size: .9rem;
}
.tweet__content{
    gap: .5rem;
}

/* asfeatured__section */

.asfeatured__container{
    gap: 1rem;
    grid-template-columns: 1fr;
    text-align: center;
}
.asfeatured__container .right> img{
    width: 8rem;
}
.asfeatured__container .right{
    gap: 2rem;
}
/* footer__section */
.footer__section--top{
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 1.5rem;
}
.footer__logo--conatiner{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.ndpr__logo--conatiner{
    width: 9rem;
    transform: scale(.7);
}
.footer__bottom{
    padding: 2rem ;
}
.footer__bottom p{
    font-size: .8rem;
}
}