*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --container__width--lg: 80%;
    --container__width--md: 90%;
    --text_muted: rgba(0, 0, 0,0.7);
}
img{
    width: 100%;
    object-fit: contain;
}
section{ 
    position: relative;
    padding: 4rem 0 2rem 0;
 }
.container{
    width: var(--container__width--lg);
    margin-inline: auto;
}
header{
    /* background: transparent; */
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    height: 6.5rem;
    z-index: 222;
}
header nav{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    width: var(--container__width--lg);
    margin-inline: auto;
    align-items: center;
    padding: .3rem 0rem .7rem 1rem;
    justify-content: space-between;
}
.nav_bar--right{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav_bar--right img{
    height: 2rem;
    cursor: pointer;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
header nav ul li a{
    color: #0c1825;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem;

}
.nav_bar--left{
    display: flex;
    align-items: center;
    gap: 1.7rem;
}
.btn a{
    padding: 1rem 1.2rem;
    font-size: 1rem;
    border-radius: .7rem;
    font-family: DM Sans,sans-serif!important;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    
}
.sign_in a{
    color: #0c1825;
    background: white;
    border: .1rem solid #bbb;
    transition: all .8s ease;
}
.create_acct a{
    display: inline-block;
    background: #0c1825;
    color: white;
}
.sign_in a:hover{
    color: blue;
    border-color: blue;

}
.create_acct a:hover{
    background: blue;
}
